.fieldset {
  margin: 0;
  padding: 0;
  width: 362px;
  height: 78px;
  box-sizing: border-box;
}
.fieldset .label-radio .input-fieldset {
  margin: 0;
  width: 20px;
  height: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}
.div-fieldset {
  display: flex;
  gap: 54px;
  margin-left: 48px;
  position: relative;
  top: 7px;
}
.div-label {
  display: flex;
  gap: 48px;
  margin: 0;
}
.label-radio {
  display: flex;
  gap: 20px;
}
.label-radio .input-fieldset {
  position: relative;
  top: 2px;
}
.number {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.input {
  width: 360px;
  height: 40px;
}

.button {
  width: 360px;
  height: 40px;
  margin-top: 24px;
  border-radius: 8px;
  background-color: rgb(78, 117, 255);
  border: 0;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.button:hover {
  background: rgb(108, 140, 255);
}
