/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.index-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 25px;
  font-size: 50px;
}
.index-list-item1 {
  background-color: aqua;
  padding: 15px;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
}
.index-list-item2 {
  background-color: rgb(241, 121, 102);
  padding: 15px;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
}
.index-row {
  display: flex;
  gap: 15px;
}

.index-list-item1:hover {
  transform: scale(1.1);
}

.index-list-item2:hover {
  transform: scale(1.1);
}
